<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="library">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./php-sensitive-word-filter</directory>
            <directory>./php-deque</directory>
            <directory>./php-timer</directory>
            <directory>./php-file-parser</directory>
            <directory>./php-file-encryptor</directory>
            <directory>./php-css-updater</directory>
            <directory>./php-validator</directory>
            <directory>./php-shared-data</directory>
            <directory>./php-mailer</directory>
            <directory>./php-html-analyzer</directory>
            <directory>./php-password-generator</directory>
            <directory>./php-metric</directory>
            <directory>./php-backoff</directory>
            <directory>./php-annotation-reader</directory>
            <directory>./php-db-model</directory>
            <directory>./php-context-cache</directory>
            <directory>./php-csrf</directory>
            <exclude>
                <directory>./build</directory>
                <directory>./codesniffer</directory>
                <directory>./composer</directory>
                <directory>./test</directory>
                <directory>./travis</directory>
                <directory>./vendor</directory>
                <directory>./php-mailer/Mail/Core</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="data/codeCoverage" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </logging>
</phpunit>